<h1>Employee Registration</h1>
<form name="createUser" class="form-horizontal">
  <div class="form-group has-feedback" ng-class="createUser.$error.usedEmail && 'has-error'">
    <label for="newEmail" class="col-sm-2 control-label">Email address</label>

    <div class="col-sm-5">
      <input type="email" id="newEmail" class="form-control" placeholder="Email address" new-email
             strict-email ng-model="vm.email" name="newEmail" required
             ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"

              >
    </div>
  </div>
  <div class="form-group">
    <label for="employee-name" class="col-sm-2 control-label">Name</label>

    <div class="col-sm-5">
      <input id="employee-name" class="form-control" type="text" ng-model="vm.name" required/>
    </div>
  </div>
  <div class="form-group">
    <label for="employee-position" class="col-sm-2 control-label">Position</label>

    <div class="col-sm-5">
      <ui-select id="employee-position" ng-model="vm.position">
        <ui-select-match placeholder="Pick one...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="position in vm.positions | filter: $select.search track by position">
          <div ng-bind-html="position | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </div>
  </div>
</form>