<div>
	<div ng-switch on="vm.contractDetail.error == undefined">

	  <div ng-switch-when="false"> 
	    <message alert-type="vm.errorType" alert-message="vm.contractDetail.error.message"></message>
	  </div>

	  <div ng-switch-when="true"> 

	    <load-page expr="vm.dataLoaded"></load-page>
   		<div ng-show="vm.dataLoaded">
		      <ng-include src="'modules/contract/contract-detail.partial.html'"></ng-include>
		 </div>
		 
	  </div>

	</div>
</div>
