  <div class="row">
    <button class="btn btn-primary" ng-click="vm.goBackToContractList()">Back</button>
  </div>
  <div class="row">
    <div class="col-sm-12 center-block">
      <h1 ng-bind='vm.contractDetail.title'></h1>
    </div>
  </div>
  <div class="row contract-padding">
    <div class="col-sm-12">
      <h3 class="text-info">Summary</h3> <br/>
      <span ng-bind='vm.contractDetail.summary'></span>
    </div>
  </div>
  <div class="row contract-padding">
    <div class="col-sm-6">
      <h3 class="text-info">Accounts</h3>
      <hr/>
      <div class="container" ng-repeat="account in vm.contractDetail.accountList">
        <ng-include src="'modules/contract/account-list.partial.html'"></ng-include>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3 class="text-info">Service Line</h3>
        <span ng-bind='vm.contractDetail.serviceLine.name'></span>
        <hr/>
      </div>
      <div class="row">
        <h3 class="text-info">Skills</h3>
        <hr/>
        <div class="row">
          <ul>
            <li ng-repeat="skill in vm.contractDetail.skillsList">
              <span ng-bind='skill'></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <span id="contract-summary" ng-bind='contractCtrl.contractDetail.summary'></span>
  </div>
</div>