<!--Main Customer Page-->
<div>
<h1>Customers &amp; Contract</h1>
    <load-page expr="vm.dataLoaded"></load-page>
    <div ng-show="vm.dataLoaded">
      <ng-include src="'modules/customer/customer-data.partial.html'" ></ng-include>
    </div>
</div>