<div ng-switch on="vm.customers.error == undefined">
  <div ng-switch-when="false"> 
    <message alert-type="vm.errorType" alert-message="vm.customers.error.message"></message>
  </div>
  <div ng-switch-when="true"> 
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-1 control-label" for="customer-selection">Customer:</label>
        <div class="col-sm-11">
          <ui-select id="customer-selection" ng-model="vm.selectedCustomer.selected" theme="bootstrap" on-select="vm.getContracts(vm.selectedCustomer.selected.id, true)">
            <ui-select-match placeholder="Pick one...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="customer in vm.customers.items | filter: $select.search track by customer.id">
              <div ng-bind-html="customer.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>      
        </div>
      </div>
    </form>
    <hr/>
    <div ng-switch on="vm.selectedCustomer.selected.id == undefined"> 
      <div ng-switch-when="true">
        <h2>
          <small>Select a customer to display their contracts</small>
        </h2>
      </div>
      <div ng-switch-when="false">

         <load-page expr="vm.contractLoaded"></load-page>
         <div ng-show="vm.contractLoaded">
            <ng-include src="'modules/customer/contract-list.partial.html'"></ng-include>
          </div>

      </div>
    </div>   

  </div> 
</div>