<!-- build:css styles/customer.css -->
<link rel="stylesheet" type="text/css" href="styles/compiled-bootstrap/bootstrap.css"/>
<!-- endbuild -->
<div class="alert {{alertType}}" role="alert">
	<p ng-bind="alertMessage"></p>
</div>