<div class="row">
	<label for="account-name">Name</label>
	<span ng-bind='account.name' id="account-name"></span>
</div>
<div class="row">
	<label for="account-assignment-name">Assignment</label>
	<span ng-bind='account.assignment.name' id="account-assignment-name"></span>
</div>	
<div class="row" ng-show="{{account.workOrderList.length > 0}}">
	<h5><b>Work Order List</b></h5>
	<ul>
		<li ng-repeat="workOrder in account.workOrderList">
			<span ng-bind='workOrder.type'></span>
		</li>
	</ul>
</div>
<div class="col-sm-4"><hr/></div>