<a class="list-group-item" ng-model="collapsed" ng-click="collapsedAllowance=!collapsedAllowance">
    <div class="row" tooltip="Click to see detailed allowances">
        <div class="col-sm-4 cell-right">
            <label for="total-allowances">Total Allowances:</label>
        </div>
        <div class="col-sm-8 cell-left">
            <span id="total-allowances">PHP {{ pc.selected.totalAllowances | number:2 }}</span>
        </div>
    </div>
</a>
<div collapse="!collapsedAllowance">
    <div class="row">
        </br>
        <div class="col-sm-10 cell-right col-md-offset-1">
            <div class="row" ng-repeat="(key, value) in pc.selected.allowances">
                <div class="col-sm-8 cell-right">
                    <label>{{key | camelCaseToSpaceDelimited}}:</label>
                </div>
                <div class="col-sm-4 cell-left">
                    <span id="{{key}}">PHP {{ value | number:2 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>