<!-- Payroll Controller by default as defined in payroll.config -->
<h1>Payroll Records</h1>
<div ng-show="pc.noOfPages != 0">
    <div class="col-lg-6">
        <div class="list-group" style="margin-top: 30px">
            <a ng-init="$index==0?(pc.setActive($index, data)):''" ng-repeat="data in pc.items | startFrom:(pc.currentPage-1)*pc.numPerPage | limitTo:pc.numPerPage " ng-click="pc.setActive($index, data)" class="list-group-item" ng-class="{'active':$index == pc.currentIndex}">{{ data.dateTo | convertDate }}</a>
        </div>
        <div>
            <pagination ng-model="pc.currentPage" max-size="pc.noOfPages" total-items="pc.totalItems" items-per-page="pc.numPerPage" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>
    <div class="col-lg-6">
        <div ng-show="pc.ready" class="details" style="margin-top: 30px">
                <h2>{{ pc.selected.dateTo | convertDate }}</h2>
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 cell-right">
                            <label for="gross-salary">Gross Salary:</label>
                        </div>
                        <div  class="col-sm-8 cell-left">
                            <span id="gross-salary">PHP {{ pc.selected.grossSalary | number:2 }}</span>
                        </div>
                    </div>
                    </br>
                    <!-- Allowances Partial -->
                    <div ng-include="'modules/payroll/payroll.allowances.partial.html'"></div>
                    </br>
                    <!-- Deductions Partial -->
                    <div ng-include="'modules/payroll/payroll.deductions.partial.html'"></div>
                    <hr style="height:10px">
                    <div class="row">
                        <div class="col-sm-4 cell-right">
                            <label for="net-total">Net:</label>
                        </div>
                        <div  class="col-sm-8 cell-left">
                            <span id="net-total">PHP {{ pc.selected.netSalary | number:2  }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="pc.noOfPages != 0">No Records Found</div>