<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <title>G4S Employee Portal</title>
  <script type="text/javascript" ng-if="false">
    var ca = document.cookie.split(';');
    var found = false;
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1);
      if (c.indexOf("sessionId=") == 0)  found = true;
    }
    if (!found) {
      window.location.href = "http://" + window.location.host + "/login.html#/?next=" + window.location.hash.substr(1);
    }
  </script>

  <link rel="stylesheet" href="styles/index.6c3afdfd.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script data-main="modules/main" src="require.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl as nav">
  <div class="container">
    <div class="navbar-header" style="background: url('images/favicon.png') no-repeat left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ng-click="nav.changeTab('/checkin')"><span style="margin-left: 60px">Employee Portal</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="ng-class: nav.activeTab.lastIndexOf('/checkin', 0) === 0  && 'active' ;"><a href="/checkin"
                                                                                               ng-click="nav.changeTab('/checkin')">Time
          in</a>
        </li>
        <li class="ng-class: nav.activeTab.lastIndexOf('/customer', 0) === 0  && 'active' ;"><a href="/customer"
                                                                                                ng-click="nav.changeTab('/customer')">Customer</a>
        <li class="ng-class: nav.activeTab.lastIndexOf('/attendance', 0) === 0  && 'active' ;"><a href="/attendance"
                                                                                                  ng-click="nav.changeTab('/attendance')">Attendance</a>
        </li>
        <li class="ng-class: nav.activeTab.lastIndexOf('/payroll', 0) === 0  && 'active' ;"><a href="/payroll"
                                                                                               ng-click="nav.changeTab('/payroll')">Payroll</a>
        </li>
        <li class="ng-class: nav.activeTab.lastIndexOf('/employees', 0) === 0  && 'active' ;"><a href="/employees"
                                                                                                 ng-click="nav.changeTab('/employees')">Employees</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="nav.logout()">Logout</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div ng-view></div>
</div>

</body>
</html>
